/* src/css/modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}
  
.modal-content {
    background: rgba(255, 255, 255, 0.822);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 32%;


}

.modal-content input {
    width: 100%; /* Full width of the modal content */
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 50px;

}

/* Adjusting placeholder appearance */
.modal-content input::placeholder {
    color: #888; /* Placeholder color */
    padding-left: 10px; /* Adds space to the left */
    font-size: 16px; /* Adjust font size if needed */
    width: 80%; /* Simulates a narrower placeholder by adjusting text appearance */
    
}

.modal-confirm-button,
.modal-cancel-button {
    margin-top: 20px;
}
  
.modal-confirm-button,
.modal-cancel-button button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-buttons button:first-child {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to right, lightyellow, gold);
    border: none;
    border-radius: 5px;
    width: 60%;
    margin-bottom: 4%;
}
  
.modal-buttons button:last-child {
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    background: linear-gradient(to right, lightyellow, gold);
    border: none;
    border-radius: 5px;
    width: 60%;
}
