.payroll-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  height: 100vh;
  margin-left: 250px; 
  text-align: left;
}

.payroll-container h1 {
  position: fixed;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: .25%;
  margin-left: 3.25%;
}



.dropdown-payroll-item {
  position: fixed;
  font-size: 0.8rem; 
  padding: 8px 12px; 
  cursor: pointer; 
  background-color: #f8f9fa; 
  border-radius: 4px; 
  text-align: center; 
  width: 5%;
  left: 93%;
}

.icon-payroll {
  position: fixed;
  font-size: 35px; 
  padding: 5px; 
  margin-top: 4px;
  margin-left: -10px;
}

.search-payroll-container {
  margin-bottom: 20px; 
  display: flex;
  justify-content: center; 
}

.search-bar-payroll-container {
position: fixed;
top: 22%;
left: 75%;
width: 40%;
z-index: 500; 
}

.search-bar-payroll {
padding: 10px 40px 10px 10px;
border: 1px solid #ddd;
border-radius: 4px;
font-size: 1rem;
position: fixed; 
}


.search-payroll-icon {
position: absolute;
right: 55%; 
top: 35%; 
transform: translateY(-50%);
color: #000000;
}

.search-payroll-label {
  position: fixed;
  font-size: 1.2rem; 
  color: #333; 
  margin-top: 7%;
  margin-right: -127%;
}

.table-payroll-container {
  position: fixed;
  margin-top: 15%; 
  width: 80%; 
  overflow-x: auto; 
}

.payroll-table {
  width: 100%; 
  border-collapse: collapse; 
}

.payroll-table th,
.payroll-table td {
  border: 1px solid #ddd; 
  padding: 10px; 
  text-align: center; 
}

.payroll-table th {
  background-color: #f4f4f4; 
  font-weight: bold; 
}

.payroll-table td {
  font-size: 0.9rem; 
}

.payroll-table tbody tr:nth-child(even) {
  background-color: #f9f9f9; 
}

/* Style for action buttons */
.edit-payroll-button {
  padding: 5px 10px;
  border: none;
  background-color: #ffc905;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
}

.edit-payroll-button:hover {
  background-color: #eed18d;
}


.date-main-payroll-container {
  position: fixed;
  top: 20%; 
  right: 65%; 
  z-index: 1000; 
}

.date-main-payroll-input {
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%; 
}

.table-payroll-container {
  max-height: 400px;
  overflow-y: auto; 
  border: 1px solid #ccc; 
}

.payroll-table {
  width: 100%; 
  border-collapse: collapse; 
}

.payroll-table th,
.payroll-table td {
  padding: 8px; 
  text-align: left; 
  border-bottom: 1px solid #ddd; 
}
