body {
    font-family: 'Poppins', sans-serif; 
    background-color: #f0f4f8; 
}

.sign-in-container {
    display: flex;
    height: 100vh;
    background-color: #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


.logo-signin-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .logo-signin {
    position: relative;
    margin-top: -10%;
    margin-left: -60%;
    width: 40%;
    height: fit-content;
  }


.signIn-form-container {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 8%;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-left: -5%;
}

.image-container  {
    flex: 2; 
    max-width: 44%;
    display: flex;
    margin-right: 1%;
    height: 95%;
    margin-top: 1%;
}

.form-header {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    width: 90%;
    margin-bottom: 10px; 
    position: relative;
    margin-top: -5%;
}

.form-header h2 {
    margin: 0;
    font-size: 32px; 
    font-weight: bold; 
    color: #333; 
    width: 70%;
    position: relative;
}

.form-header p {
    position: fixed;
    margin: 0;
    color: #888;
    font-size: 20px; 
    width: 30%; 
    position: relative;
    top: -50px; 
    margin-left: 70%;
}


h1 {
    font-size: 32px; 
    margin-bottom: 15px;
    color: #333;
    font-weight: 600;
}

p {
    font-size: 30px; 
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-size: 20px; 
    margin-bottom: 8px;
    color: #444;
}

input[type="text-username"],
input[type="password"],
input[type="text"] {
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: calc(50% - 40px);
    position: relative;
    font-size: 18px;
    color: #555;
}


.password-field {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.toggle-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px; 
    position: absolute;
    right: 52%;
    top: 40%;
    transform: translateY(-50%);
    padding: 8px;
    color: #999;
}

.toggle-button:hover {
    color: #555;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.remember-me input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2); 
}

.remember-me label {
    font-size: 20px;
    color: #444;
}

.sign-in-button {
    padding: 12px;
    background: linear-gradient(90deg, #ffe66d, #ffba08); 
    color: #333;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px; 
    width: 60%; 
    font-weight: bold;
    transition: background 0.3s ease;
}

.sign-in-button:hover {
    background: linear-gradient(90deg, #ffdd57, #ff9f1c); 
}
