.summary-title {
    position: fixed;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: .25%;
    margin-left: 3%;
}


.summary-icon {
    position: fixed;
    font-size: 30px;
    padding: 5px;
    margin-top: 8px;
    margin-left: -10px;
}

.totalcommission-container {
    margin-top: 10%;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: rgb(247, 233, 201);
    width: 20%;
    box-sizing: border-box;
    position: fixed;
    height: 15%;
    margin-left: 41.5%;

}

.totalcommission-container p {
    position: fixed;
    margin: 0;
    padding: 10px;
    font-size: 1rem;
    margin-top: 3.5%;


}

.totalcommission-container h1 {
    position: fixed;
    margin: 0;
    padding: 10px;


}

.totalsales-container {
    margin-top: 10%;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 20px;
    background-color: rgb(247, 233, 201);
    width: 20%;
    box-sizing: border-box;
    position: fixed;
    height: 15%;
    margin-left: 62%;

}

.totalsales-container p {
    position: fixed;
    margin: 0;
    padding: 10px;
    font-size: 1rem;
    margin-top: 3.5%;


}

.totalsales-container h1 {
    position: fixed;
    margin: 0;
    padding: 10px;


}

.summary-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
    height: 100vh;
    margin-left: 250px;
    text-align: left;
}

.staff-table-container {
    position: relative;
    margin-top: 25%;
    max-height: 45vh;
    overflow-y: auto;
    width: 100%;
    padding: 10px;
    margin-left: -1%;
}

.staffsummary-table {
    border-collapse: collapse;
    width: 100%;
}

.staffsummary-table th,
.staffsummary-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}



.staffsummary-table td {
    overflow: hidden;
}

.staffsummary-wrapper {
    position: fixed;
    margin-top: 20%;
    width: 80%;
    max-height: 50vh; 
    overflow-y: auto;
    padding: 10px;
    background-color: #fff; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
}

.see-graph-button{
    margin-top: 6%;
    position: fixed;
}

